html {
    background-color: #f6f5f3;
    font-family: 'Roboto', sans-serif;
}
* {
    outline: 1px black solid;
}
body {
    margin: 0;
}

#root {
    height: 100vh;
    width: 100vw;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
        'main'
        'footer';
    grid-template-rows: 1fr;
    display: grid;
}
.logo {
    position: absolute;
    left: 0;
    height: 100%;
    width: auto;
}

.navElement {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    width: 85%;
}

.Navbar {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 6vh;
    background-color: rgb(130 125 125);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

button {
    cursor: pointer;
    border: black;
    border-radius: 10px;
    box-shadow: 1px 2px 2px;
    transition: all 0.2s ease;
}

.Footer {
    position: relative;
    background-color: red;
    display: flex;
    height: 10vh;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: auto;
    flex-shrink: 0;
}

.Title {
    font-size: large;
}

.content {
    height: fit-content;
    margin: 40px auto;
    max-width: 75vw;
    line-height: 1.6;
    font-size: 18px;
    padding: 16px;
    display: block;
}
.dataTable {
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-left: 20px;
}
table {
    min-width: 60%;
}
th {
    padding: 5px;
    text-align: left;
}

td {
    text-align: left;
    padding-right: 20px;
}

.postcodeForm {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.monthSelector {
    display: flex;
    justify-content: flex-start;
}

.postcodeInput {
    padding: 2px;
    display: flex;
    gap: 5px;
}

.leaflet-container {
    display: flex;
    width: 100%;
    height: 75vh;
}

button:hover {
    filter: brightness(110%);
}
#map {
    position: relative;
}
.mapContainer {
    position: relative;
    height: fit-content;
}

.anti-social-behaviour.leaflet-interactive {
    fill: #b72424;
    stroke: #b72424;
}
.burglary.leaflet-interactive {
    fill: #e37d00;
    stroke: #e37d00;
}
.criminal-damage-arson.leaflet-interactive {
    fill: #dec502;
    stroke: #dec502;
}
.drugs.leaflet-interactive {
    fill: #5ccd00;
    stroke: #5ccd00;
}
.other-theft.leaflet-interactive {
    fill: #08d17d;
    stroke: #08d17d;
}
.possession-of-weapons.leaflet-interactive {
    fill: #03b8af;
    stroke: #03b8af;
}
.public-order.leaflet-interactive {
    fill: #0440ca;
    stroke: #0440ca;
}
.robbery.leaflet-interactive {
    fill: #23007b;
    stroke: #23007b;
}
.shoplifting.leaflet-interactive {
    fill: #a50184;
    stroke: #a50184;
}
.theft-from-the-person.leaflet-interactive {
    fill: #c973b2;
    stroke: #c973b2;
}
.vehicle-crime.leaflet-interactive {
    fill: #6d6668;
    stroke: #6d6668;
}
.violent-crime.leaflet-interactive {
    fill: #572323;
    stroke: #572323;
}
.other-crime.leaflet-interactive {
    fill: #214304;
    stroke: #214304;
}
/* .leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
} */
